@charset "utf-8";
/* 冒頭でimport */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');
/* フォントを指定したいところで */

logo img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; /* 画像のトリミング */
}

header img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover; /* 画像のトリミング */
}



/* ========== common ========== */
html, body {
	font-size: 20px;
	font-family: sans-serif;
	color: #0f0e0e;
    background-color: rgba(9, 10, 9, 0.466);
}

body {
    margin: 0;
    padding: 0;
 }

 .first-view-text {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
 }



.first-view{
    height: calc(100vh - 100px);
    background-image: url(../de12/images/24744505_m.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.first-view-text{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 80px;
    color: #000;
    font-weight: bold;
    text-shadow: 1px 1px 10px #eee9e0;
    font-size: 39px;
    line-height: 115px;
}

.contents {
    background-color: rgb(212, 201, 188);
    padding-top: 45px;
    padding-bottom: 55px;

}

.contents h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.contents h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: black;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.item-list {
    display: flex;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: scroll;
}

.item-list li {
    flex-shrink: 0;
    width: 260px;
    margin-left: 75px;
}

.item-list li:first-child {
    margin-left: 0;
}

.item-list dl {
    margin-top: 20px;
}

.item-list dt {
    font-weight: bold;
    text-align: center;
}

.item-list dd {
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
    text-align: center;
}

.item-list {
    list-style-type: none
}

img[src="./de12/images/21830aIMGL99841974_TP_V.jpg"] {
    border-radius: 20%;
}

img[src="./de12/images/step05.png"] {
    border-radius: 20%;
}