/* style.css */

body {
  font-family: Arial, sans-serif;
  padding: 30px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

li {
  list-style: none;
  width: 33.33%;
  padding: 30px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  display: inline-block;
}

footer {
  text-align: center;
  margin-top: 30px;
}
