@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 1;
}

.left-text {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #000;
}

.left-text p {
    margin: 0;
    line-height: 1.5;
}

.main-content {
    text-align: center;
    color: #000;
}

h1 {
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 3rem;
}

p {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    text-align: center;
    width: 100%;
}

a {
    color: #666;
}

/*========= 流体シェイプを動かす ===============*/

.fluid {
    width: 40vh; /*横幅*/
    height: 40vh; /*縦幅*/
    background: #fff100; /*背景色*/
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    animation: fluidrotate 30s ease 0s infinite; /*アニメーションの設定*/
}

@keyframes fluidrotate {
    0%, 100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}
